NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_KEY=
DODO_PAYMENTS_ENV=test
DODO_PRODUCT_MONTHLY=pdt_0Ne1tWOH7HdGEH1kyyAKx
DODO_PRODUCT_QUARTERLY=pdt_0Ne1tebquro8ZGf0Chqjv
DODO_PRODUCT_YEARLY=pdt_0Ne1tm1B9YujqPv0e9QOI
